#body_header #header_navbar {
    display: flex;
}

#navbar_selections {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#navbar_selections div {
    height: 20px;
    width: 80px;
    background-color: blue;
    margin: 10px;

    display: flex;
    justify-content: center;
}

div a {
    color: white;
}