#content_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1080px;
}

#body_main {
  height: 70%;
  width: 100%;
}

#body_header, #body_footer {
  height: 15%;
  width: 100%;
}

#body_header {
  background-color: rgb(234, 215, 187);
}

#body_main {
  background-color: rgb(188, 163, 127);
}

#body_footer {
  background-color: rgb(17, 57, 70);
}

#header_introduction {
  margin: 10px;
  position: relative;
  top: 110px
}

#introduction_text {
  font-weight: bold;
  font-size: 18px;
}