#content_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 1080px;
}

#body_header, #body_main, #body_footer {
  height: 34%;
  width: 100%;
}

#body_header {
  background-color: lightblue;
}

#body_main {
  background-color: blue;
}

#body_footer {
  background-color: darkblue;
}
