#content_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1080px;
}

#body_header, #body_main, #body_footer {
  height: 34%;
  width: 100%;
}

#body_header {
  background-color: rgb(255, 242, 216);
}

#body_main {
  background-color: rgb(188, 163, 127);
}

#body_footer {
  background-color: rgb(17, 57, 70);
}
